<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Se crea el H1 para prueba</h1>
        <img src="/images/logo-mercado-liebre.svg"width="360" alt="logo mercado" >
        <div><input type = "text" placeholder = "busca aqui"></div>
        <p>Compra en cuotas y sin tarjeta de credito</p>
        <nav> 
            <ul>
                <li>ofertas</li>
                <li>tiendas oficiales</li>
                <li>vender</li>
                <li>ayuda</li>
                <p></p>                
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis Compras</li>
        </nav>

    </header>

    <section><img src="/images/img-home-banner.jpg"width ="360" alt="imagen banner home"></section>
    <main>
        <section>            
            <h2>Basado en ultima visita</h2>
            <div>
                <img src ="/images/img-cafetera-moulinex.jpg" width ="360" alt=" imagen cafetera">
            </div>
            <p>Precio 6770</p>
            <p>40% Off</p>
            <h4>Cafetera Moulinex</h4>
            <div>           
            <div>
                <img src ="/images/img-macbook-pro-2019.jpg" width ="360" alt=" imagen macbookpro2019">
            </div>
            <p>Precio $230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>
            <div>
                <img src ="/images/img-samsung-galaxy-s10.jpg" width ="360" alt=" imagen Galaxy S10">
            </div>
            <p>Precio $70.500</p>
            <p>10% Off</p>
            <h4>Samsung Galaxy S10</h4>
            <div>
                <img src ="/images/img-tv-samsung-smart.jpg" width ="360" alt=" imagen TV samsung 43 inch">
            </div>
            <p>Precio $23.200</p>
            <p>5% Off</p>
            <h4>SmartTv Samsung 43"</h4>
        </section>


        <section>            
            <h2>Sección de ofertas</h2>
            <div>
                <img src ="/images/img-cafetera-moulinex.jpg" width ="360" alt=" imagen cafetera">
            </div>
            <p>Precio $6.770</p>
            <p>40% Off</p>
            <h4>Cafetera Moulinex</h4>
            <div>           
            <div>
                <img src ="/images/img-macbook-pro-2019.jpg" width ="360" alt=" imagen macbookpro2019">
            </div>
            <p>Precio $230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>
            <div>
                <img src ="/images/img-samsung-galaxy-s10.jpg" width ="360" alt=" imagen Galaxy S10">
            </div>
            <p>Precio $70.500</p>
            <p>10% Off</p>
            <h4>Samsung Galaxy S10</h4>
            <div>
                <img src ="/images/img-tv-samsung-smart.jpg" width ="360" alt=" imagen TV samsung 43 inch">
            </div>
            <p>Precio $23.200</p>
            <p>5% Off</p>
            <h4>SmartTv Samsung 43"</h4>
        </section>

        <footer>
            <section>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </p>
                <h4>Copyright C 1999-2020 MercadoLiebre S.R.L.</h4>






            </section>



        </footer>
        
    
</body>
</html>